<div class="modal-header">
  <h4 class="modal-title">{{employee ? 'Редактирование' : 'Добавление'}} сотрудника</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body">
  <form (ngSubmit)="submit()">
    <div class="mb-3">
      <label class="form-label">Отдел</label>
      <input type="text" class="form-control" [(ngModel)]="formData.department" name="department" required>
    </div>
    
    <div class="mb-3">
      <label class="form-label">Ф.И.О.</label>
      <input type="text" class="form-control" [(ngModel)]="formData.fullName" name="fullName" required>
    </div>
    
    <div class="mb-3">
      <label class="form-label">Дата рождения</label>
      <input type="date" class="form-control" [(ngModel)]="formData.birthDate" name="birthDate" required>
    </div>
    
    <div class="mb-3">
      <label class="form-label">Дата устройства</label>
      <input type="date" class="form-control" [(ngModel)]="formData.employmentDate" name="employmentDate" required>
    </div>
    
    <div class="mb-3">
      <label class="form-label">Заработная плата</label>
      <input type="number" class="form-control" [(ngModel)]="formData.salary" name="salary" required>
    </div>
    
    <div class="text-end">
      <button type="button" class="btn btn-secondary me-2" (click)="activeModal.dismiss()">Отмена</button>
      <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
  </form>
</div>