<div class="modal-header">
  <h5 class="modal-title">{{ employee ? 'Редактирование' : 'Создание' }} сотрудника</h5>
  <button type="button" class="btn-close" (click)="onClose()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label class="form-label">Отдел</label>
      <input type="text" class="form-control" formControlName="department">
    </div>
    <div class="mb-3">
      <label class="form-label">Ф.И.О.</label>
      <input type="text" class="form-control" formControlName="fullName">
    </div>
    <div class="mb-3">
      <label class="form-label">Дата рождения</label>
      <input type="date" class="form-control" formControlName="birthDate">
    </div>
    <div class="mb-3">
      <label class="form-label">Дата устройства</label>
      <input type="date" class="form-control" formControlName="employmentDate">
    </div>
    <div class="mb-3">
      <label class="form-label">Зарплата</label>
      <input type="number" class="form-control" formControlName="salary">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="onClose()">Отмена</button>
      <button type="submit" class="btn btn-primary" [disabled]="!employeeForm.valid">
        Сохранить
      </button>
    </div>
  </form>
</div>